* {
  margin: 0;
  padding: 0;
  color: #dde6ed;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: #dde6ed;
}
i {
  color: #dde6ed;
}

li {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
  text-align: left;
}
a {
  text-decoration: none;
}
.nav {
  background-color: #27374d;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav span {
  color: #dde6ed;
}
#right {
  float: right;
}
li button {
  display: block;
  margin-left: 20px;
  background-color: #dde6ed;
  color: #27374d;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}
li button:hover {
  cursor: pointer;
  background-color: rgb(190, 29, 29);
  color: #dde6ed;
}
.clearfix {
  overflow: auto;
}
/**/
h1,
h2,
h3,
span {
  color: #27374d;
  text-align: center;
  margin: 10px;
}

table,
th,
thead {
  border-collapse: collapse;
  color: #27374d;
  border: 2px solid #27374d;
}

table {
  margin: 20px auto;
  width: 80%;
}
th {
  padding: 5px;
  background-color: #27374d;
  color: #dde6ed;
}

td {
  text-align: center;
  padding: 5px;
  background-color: #dde6ed;
  color: #27374d;
  border: #27374d 2px solid;
  font-size: 22px;
  font-weight: 600;
}

td button {
  width: 70%;
  font-size: 15px;
  border: none;
  border-radius: 50px;
  background-color: #27374d;
  color: #dde6ed;
  padding: 10px;
}
td button:hover {
  cursor: pointer;
  background-color: rgb(136, 17, 17);
}
#check {
  display: block;
  text-align: center;
  background-color: #27374d;
  color: #dde6ed;
  margin: 20px auto;
  border: none;
  padding: 20px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
}
#check:hover {
  cursor: pointer;
  background-color: rgb(13, 99, 17);
}
.container {
  height: 100vh;
  padding-bottom: 60px;
}
.container .checkout {
  color: #27374d;
  background-color: #388fd1bd;
  width: 50%;
  margin: 70px auto;
  border: none;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}
.container .checkout p {
  color: #27374d;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
.checkout i {
  color: rgb(15, 134, 15);
  font-size: 150px;
  margin: 10px;
}

/* ------------footer ---------*/
.footer {
  background-color: #27374d;
  color: #dde6ed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #9db2bf;
}
