* {
  margin: 0;
  padding: 0;
  color: #dde6ed;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: #dde6ed;
}
i {
  color: #dde6ed;
}

li {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
  text-align: left;
}
a {
  text-decoration: none;
}
.nav {
  background-color: #27374d;
  height: 60px;
  width: 100%;
}
.nav span {
  color: #dde6ed;
}
#right {
  float: right;
}
li button {
  display: block;
  margin-left: 20px;
  background-color: #dde6ed;
  color: #27374d;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}
li button:hover {
  cursor: pointer;
  background-color: rgb(190, 29, 29);
  color: #dde6ed;
}
.clearfix {
  overflow: auto;
}
/**/
h1,
h3,
span {
  color: #27374d;
  text-align: center;
  margin: 10px;
}

/**/
table,
th,
thead {
  border-collapse: collapse;
  color: #27374d;
  border: 2px solid #27374d;
}

table {
  margin: 20px auto;
  width: 80%;
}
th {
  padding: 5px;
  background-color: #27374d;
  color: #dde6ed;
}

td {
  text-align: center;
  padding: 5px;
  background-color: #dde6ed;
  color: #27374d;
  border: #27374d 2px solid;
  font-size: 22px;
  font-weight: 600;
}

td button {
  width: 70%;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #27374d;
  color: #dde6ed;
  padding: 10px;
}
td button:hover {
  cursor: pointer;
  background-color: rgb(136, 17, 17);
}
