* {
  margin: 0;
  padding: 0;
  color: #dde6ed;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: #dde6ed;
}
/* nav bar */
i {
  color: #dde6ed;
}

li {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
  text-align: left;
}
a {
  text-decoration: none;
}
.nav {
  background-color: #27374d;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav ul li a:hover {
  color: #9db2bf;
}
#right {
  float: right;
}
li button {
  display: block;
  margin-left: 20px;
  background-color: #dde6ed;
  color: #27374d;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}
.nav li button:hover {
  cursor: pointer;
  background-color: rgb(190, 29, 29);
  color: #dde6ed;
}
.clearfix {
  overflow: auto;
}
/* categories*/

/* Container */
.body-container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
/* Categories */
.categories {
  float: left;
  width: 200px;
  background-color: #27374d;
  color: #dde6ed;
  text-align: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
}

.categories p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.categories button {
  display: block;
  margin: 5px auto;
  width: 150px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #dde6ed;
  border-radius: 20px;
  color: #dde6ed;
  padding: 10px;
  transition: all 0.3s ease;
}

.categories button:hover {
  background-color: #9db2bf;
  color: #27374d;
  cursor: pointer;
}
#categories-btn {
  border-radius: 20px;
  background-color: #9db2bf;
  color: #27374d;
  border: 2px solid #dde6ed;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#categories-btn:hover {
  background-color: #27374d;
  color: #dde6ed;
  cursor: pointer;
}
/*categories button*/
#categories-col {
  background-color: #27374d;
  color: #dde6ed;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  position: fixed;
  left: 23px;
  top: 30%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
}
#categories-col:hover {
  background-color: #9db2bf;
  color: #27374d;
  cursor: pointer;
}
/* Products */
.products {
  margin-left: 220px;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100vh;
}

.product {
  display: inline-block;
  border: #27374d 1px solid;

  margin: 10px;
  padding: 20px;
  height: 400px;
  border-radius: 20px;
  width: calc(25% - 40px);
  text-align: center;
  box-sizing: border-box;
  transition: all 0.5s ease;
  vertical-align: top;
}

.product p {
  color: #27374d;
  font-size: 20px;
  margin: 5px 0;
  font-weight: 700;
}

.product img {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 180px;
  border-radius: 10px;
  overflow: hidden;
}

.product button {
  display: block;
  width: 150px;
  background-color: transparent;
  color: #27374d;
  border: #27374d 1px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  margin: 10px auto;
}

.product:hover {
  background-color: #9db2bf;
}

.product button:hover {
  background-color: #27374d;
  color: #dde6ed;
  cursor: pointer;
}

/*view product */
.view-product {
  display: none;
  border: #27374d 1px solid;
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  margin: 10px;
}
.view-product .product-image {
  margin: 0 10px;
  max-width: 30%;
  display: inline-block;
  vertical-align: top;
}
.view-product .product-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
.view-product .product-info {
  display: inline-block;
  color: #27374d;
  margin: 0 10px;
  vertical-align: top;
}
.view-product h2 {
  color: #27374d;
  margin-bottom: 20px;
  margin-top: 0;
}
.view-product p {
  color: #27374d;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.view-product button {
  display: block;
  margin: 10px;
  width: 150px;
  background-color: transparent;
  color: #27374d;
  border: #27374d 1px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}
.view-product button:hover {
  background-color: #27374d;
  color: #dde6ed;
  cursor: pointer;
}

/* ------------footer ---------*/

.footer {
  background-color: #27374d;
  color: #dde6ed;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #9db2bf;
}
/* scroll bar style*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #dde6ed;
}
::-webkit-scrollbar-thumb {
  background-color: #27374d;
  border-radius: 10px;
}
